.row-fluid.rating-container
  .span4
    %h4.text-shadow
      Hotel rating
    .span.text-shadow
      =@hotel.rating
  .span8
    %h4.text-shadow
      Leave your rating
    =simple_form_for(@rating, url: hotel_ratings_path({hotel_id: @hotel}), :html => { :class => 'form-horizontal' }) do |rating|
      .form-input.text-shadow
        =rating.input :star, input_html: {"required"=>"required"}
        = rating.button :submit, 'Rate', id: @hotel.id , class: 'rating_set app-button'