.row-fluid
  .span6
    %h4
      Hotel rating
    .span
      =@hotel.rating
  .span6
    %h4
      Leave your rating
    =simple_form_for(@rating, url: hotel_ratings_path({hotel_id: @hotel})) do |rating|
      .form-input
        =rating.input :star, input_html: {"required"=>"required"}
      .form-action
        = rating.button :submit, 'Add', id: @hotel.id , class: 'rating_set'