%h1 Hotel

%table
  %tr
    %td
      %strong
        Title
    %td
  -for i in @hotels do
    %tr
      %td
        =i.title
      %td
        =link_to 'show', hotel_path(i)
%br
=link_to 'Add hotel', new_hotel_path(), class: 'btn btn-success'