#index-page
  %h2.text-shadow.text-center
    All hotels
  .row-fluid.hotels-container
    .span12.hotels-table.hotels-list
      .row-fluid.head
        .span3
        .span3
          %strong.text-shadow
            Title
        .span3
          %strong.text-shadow
            Rating
        .span3
      -for i in @hotels do
        .row-fluid.row-list
          .span3.text-center
            = image_tag i.image_url(:thumb).to_s, class: 'out-shadow'
          .span3.text-shadow
            =i.title
          .span3.text-shadow
            =i.rating

          .span3
            =link_to 'show', hotel_path(i), class: 'btn app-button'
  %h2.text-shadow.text-center
    Best hotels
  .row-fluid.hotels-container
    .span12.best-hotels-table.hotels-list
      .row-fluid.head
        .span3
        .span3
          %strong.text-shadow
            Title
        .span3
          %strong.text-shadow
            Rating

        .span2
      -for i in @best_hotels do
        .row-fluid.row-list
          .span3.text-center
            = image_tag i.image_url(:thumb).to_s, class: 'out-shadow'
          .span3.text-shadow
            =i.title
          .span3.text-shadow
            =i.rating
          .span3
            =link_to 'show', hotel_path(i),class: 'btn app-button'



  %br
  =link_to 'Add hotel', new_hotel_path(), class: 'btn app-button'